@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #012958;
  --primary: #214a84;
  --primary-light: #6592c4;
  --bg: #fafafa;
}

html, body, #root { height: 100%; }
body { background: var(--bg); }
